.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10%;
}
.contact-title{
    font-size: 2rem;
}
.contact-description{
    font-size: 2rem;
}