*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: visible;
}

.blue-glass-overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(to right top, #d9e1e4, #d1dfe3, #c9dde2, #c1dcdf, #b9dadc, #afd2d2, #a5c9c9, #9bc1bf, #8cb0ad, #7d9f9c, #6f8e8b, #617e7a); */
  background-image: linear-gradient(0deg, rgba(10,8,0,1) 0%, rgba(156,105,70,1) 100%);
  z-index: -1;
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
}